/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: Helvetica;
  background-color: lightblue
}

.book-form {
  display: grid;
  grid-template-columns: auto auto;
  color: blue;
  row-gap: 0.5em
}

.book-form label {
  color: green;
  grid-column: 1 / span 1;
}

.book-form input {
  grid-column: 2 
}

input {
  background-color: pink
}

header, footer, footer > a {
  background-color: pink;
}

footer {
  margin: 10px
}

.book-button {
  background-color: white
}
